# ------------------------------------
# 1. Virtual Environment
# ------------------------------------
/venv/

# ------------------------------------
# 2. Robot Framework Output
# ------------------------------------
# Standard Robot Framework output files
output.xml
log.html
report.html

# ------------------------------------
# 3. Pabot Output (Parallel Execution)
# ------------------------------------
# Folder created by pabot to store execution results before merging
/pabot_results/
# File used by pabot to track suite names
.pabotsuitenames

# ------------------------------------
# 4. Python/IDE Caches
# ------------------------------------
# Byte-compiled files
__pycache__/
*.pyc

# VS Code directory (optional, if you want to keep local settings private)
# .vscode/